<%= render 'shared/header' %>
<%= render 'shared/notice' if notice %>
<%= render 'shared/alert' if alert %>

<section class="users_section">
    <div>
        <h1>Users</h1>
    </div>
    <div class="users_cards">
        <% @profiles.each do |profile| %>
            <%= render profile %>
        <% end %>
    </div>
</section>
 