<p>
    New post from <strong>Yorch Car Store</strong>
</p>

<p>
    Hi <%= @post.user.profile.first_name %> <%= @post.user.profile.last_name %>
</p>

<p>
    Just to let you know that you've created a post on the webiste. <br>
    You can see the post by visiting the website.
</p>

<p>
    Have a wonderful day! <br>
    <strong>Jorge Ortiz</strong> <br>
    <strong>Jr. Backend Ruby on Rails Developer.</strong>
</p>