<div>
    <p>
        <%= comment.body %>
    </p>
    <small>
        <%= comment.user.email %>
    </small>
    <% if comment.user == current_user %>
        <p>
            <%= button_to "Delete comment", [comment.vehicle, comment], method: :delete %>
        </p>
    <% end %>
</div>
