<div>
    <p>
        <%= comment.body %>
    </p>
    <small>
        <%= comment.user.email %>
    </small>
    <p>
        <%= button_to "Delete comment", [comment.vehicle, comment], method: :delete %>
    </p>
</div>
