<div class="alert">
    <p>
        <%= alert %>
    </p>
    <div>
        <button id="close_alert">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>

<%= javascript_pack_tag 'shared/alert' %>
