<div class="notice">
    <p>
        <%= notice %>
    </p>
    <div>
        <button id="close_notice">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>

<%= javascript_pack_tag 'shared/notice' %>