<h1>Vehicles</h1>

<table>
    <thead>
        <tr>
            <th>ID Vehicle.</th>
            <th>Title</th>
            <th>Type</th>
            <th>Description</th>
            <th>Price</th>
            <th>Company</th>
            <th>Images</th>
            <th>Seller.</th>
        </tr>
    </thead>

    <tbody>
        <% @vehicles.each do |vehicle| %>
            <%= render vehicle %>
        <% end %>
    </tbody>
</table>
