/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*, body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* ------------------------------------- HEADER SECTION ----------------------------  */

.header_primary, .header_primary main, footer{
    display: flex;
    flex-direction: column;
}

.header_primary nav, .header_primary nav ul{
    display: flex;
    flex-direction: row
}

.header_primary{
    height: 900px;
}

/* -------  Nav menu  --------*/

.header_primary nav{
    justify-content: space-between;
    height: 50px;
    padding: 10px;
}

.header_primary nav ul{
    list-style: none;
}

.header_primary nav ul li{
    margin: auto 10px auto 10px;
}

li .create_account_button, li .sign_in_button{
    color: #ffffff;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

li .logo_name{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

li .privacy_name{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

li .create_account_button{
    background-color: #20b47b;

}

li .sign_in_button{
    background-color: #2083b4;
}

/* -------  Main section  --------*/

.header_primary main{
    margin: auto auto auto auto;
}

.header_primary main h1, .header_primary main p, .header_primary main div{
    margin: 50px auto 50px auto;
    text-align: center;
    color: #ffffff;
}

.header_primary main h1{
    font-size: 60px;
}

.header_primary main p{
    font-size: 20px;
}

#video_background{
    position: absolute;
    z-index: -10;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 900px;
}

#see_more_button{
    font-size: 17px;
    font-weight: 500;
    padding: 15px;
    border-radius: 30px;
    border: 0px;
    width: 200px;
}

#see_more_button:hover{
    cursor: pointer;
    background-color: #cffff9;
    color: #000000;
}

/* -----------------------------------------------------------------------------------  */
/* --------------- FOOTER Section. ------------- */ 

footer{
    margin-top: 100px;
    height: 80px;
    background-color: #000000;
}

footer p{
    margin: auto auto auto auto;
    color: #ffffff;
}
