
.sign_up_page, .sign_in_page{
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.form_sign_in, .form_sign_up{
    margin-bottom: 50px;
    margin-top: 50px;
}

.sign_up_page h2, .sign_in_page h2{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

.form_label{
    font-weight: 700;
    font-size: 16px;
}

.field_form{
    margin-top: 10px;
    width: 97.5%;
    height: 20px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #989898;
}

.submit_sign_up, .submit_sign_in{
    padding: 10px;
    background-color: #b0ffc2;
    color: #045901;
    font-weight: 700;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #a9a9a9;
}

.submit_sign_up:hover, .submit_sign_in:hover{
    cursor: pointer;
    color: #b0ffc2;
    background-color: #045901;
}

/*------------------------- SHARED SECTION DEVISE ------------------ */

.btn_facebook, .btn_google, .btn_github{
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 5px 2px #a9a9a9;
}

.btn_facebook{
    background-color: #ccfdff;
    color: #006265;
    margin-top: 0px;
}
.btn_github{
    background-color: #dbdbdb;
    color: #000000;
    margin-top: 30px;
}
.btn_google{
    background-color: #ffb7b7;
    color: #490101;
    margin-top: 30px;
}

.btn_facebook:hover{
    color: #ccfdff;
    background-color: #006265;
    cursor: pointer;
}
.btn_github:hover{
    color: #dbdbdb;
    background-color: #000000;
    cursor: pointer;
}
.btn_google:hover{
    color: #ffb7b7;
    background-color: #490101;
    cursor: pointer;
}