// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.users_section{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.users_section h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #005b70;
}

.users_cards{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.user_card{
    margin: 20px auto auto auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 3px 1px #ebebeb;
    padding: 20px;
    border-radius: 10px;
    width: 75%;
}

.user_image{
    margin: auto 35px auto 20px;
}

.cancel_account_button{
    border: 0px;
    color: #700000;
    background-color: #ffcfcf;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px #ebebeb;
}

.role_admin{
    color: #700000;
    font-weight: 700;
}

.user_buttons_roles{
    display: flex;
    flex-direction: row;
}

.button_change_to_admin, .button_change_to_member, .button_change_to_other{
    border: 0px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px #ebebeb;
}

/* -------- SHOW PROFILE PAGE ---------- */

.user_profile_card{
    margin: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    border: 0px;
    box-shadow: 0px 0px 3px 1px #c0c0c0;
    background-color: #e2faff;
    border-radius: 20px;
}

.user_profile_image{
    border-radius: 100px;
}

.user_profile_card p, .user_profile_card div{
    margin: 10px auto auto auto;
}

.edit_profile_button, .back_button{
    border: 0px;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 0px 0px 3px 1px #c0c0c0;
    border-radius: 10px;
    cursor: pointer;
}

.edit_profile_button{
    color: #004e07;
    background-color: #c8ffd9;
}

.back_button{
    color: #605200;
    background-color: #fffbe2;
}

.user_objects_section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user_vehicles_section, .user_posts_section{
    width: 40%;
    padding: 20px;
    margin-top: 50px;
}

.user_vehicles_section h2, .user_posts_section h2{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.user_objects_card{
    border: 0px;
    border-radius: 20px;
    margin: 15px;
    padding: 25px;
    box-shadow: 0px 0px 3px 1px #ebebeb;
}
