// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#add_review_button, #remove_review_button{
    border: 2px solid #ff0000;
}

.hide{
    display: none;
}

.edit_page{
    background-color: #85b8c9;
}