
/* ------------ Delete this sections ------------ */

.header_secondary{
    padding: 1px;
    background-color: #000000;
    height: 50px;
    padding: 10px;
}

.header_secondary{
    display: flex;
    flex-direction: column;
}

.nav_secondary{
    margin-top: auto;
    margin-bottom: auto;
}

.header_secondary .nav_secondary, .header_secondary .nav_secondary ul{
    display: flex;
    flex-direction: row;
}

.header_secondary .nav_secondary{
    justify-content: space-between;
}

.header_secondary .nav_secondary ul{
    list-style: none;
}
.header_secondary .nav_secondary ul li {    
    margin: auto 10px auto 10px;
}

li .logo_name, li .privacy_page{
    color: #ffffff;
    text-decoration: none;
}

li .privacy_page{
    font-size: 16px;
}

.fixed_menu{
    position: sticky;
    top: 0;
    left: 0;
    animation-name: user_animation;
    animation-duration: 2s;
}

@keyframes user_animation{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

li .item_secondary{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

.dropdown_menu{
    margin-left: 10px;
}

.min_menu_title_one, .min_menu_title_two{
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    border: 0px;
}

.min_menu_title_one{
    background-color: #018511;
}

.min_menu_title_two{
    background-color: #017c85;
}

.min_menu_title_one:hover, .min_menu_title_two:hover{
    cursor: pointer;    
}

.min_menu_title_one:hover{
    background-color: #00c917;
}

.min_menu_title_two:hover{
    background-color: #00bac7;
}

.min_menu_list_one, .min_menu_list_two{
    display: none;
    position: absolute;
    z-index: 10;
    padding: 10px;
    border-radius: 10px;
}

.min_menu_list_one{
    background-color: #d6ffd9;
}

.min_menu_list_two{
    background-color: #c4fbff;
}

.item_dropdown, .item_dropdown_two{
    font-weight: 700;
    font-size: 12px;
    text-decoration: none;
}

.item_dropdown{
    color: #004507;
}

.item_dropdown_two{
    color: #004b51;
}

.show{
    display: flex;
    flex-direction: column;
}
















.sign_out_button{
    background-color: #8b0000;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;    
    border: 0px;
    text-decoration: none;
}

.sign_out_button:hover{
    background-color: #bd0000;
}

/* ---------------------------- NOTICE and ALERT MESSAGES --------------------------- */

.notice, .alert{
    border-radius: 10px;
    padding: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notice{
    color: #004507;
    background-color: #d6ffdb;    
}

.alert{
    color: #450000;
    background-color: #ffd6d6;
}

.notice p, .notice div, .alert p, .alert div{
    margin-top: auto;
    margin-bottom: auto;
}

.notice div button, .alert div button{
    border: 0px;
    padding: 1px;
}

.notice div button{
    background-color: #d6ffdb;
    color: #004507;
}

.alert div button{
    background-color: #ffd6d6;
    color: #450000;
}

.alert div button:hover, .notice div button:hover{
    cursor: pointer;
}

.notice div i, .alert div i{
    font-size: 18px;
}

.hide_notice, .hide_alert{
    display: none;
}

/* ------------------------------------------------------------------------ */
