<div>
    <% if Review.look_up(current_user, @vehicle) %>
        <h4>Edit review</h4>
        <button id="add_review_button">Edit review</button>
    <% else %>
        <h4>Add review</h4>
        <button id="add_review_button">Add review</button>
    <% end %>
</div>

<div id="form_section" class="hide">
    <%= render 'reviews/form' %>
</div>